.pog-app {
  background: rgb(95, 76, 95);
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.pog-modal {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .modal-close {
    display: none;
  }

  .pog-modal-content {
    background-color: #fefefe;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15% auto;
    min-height: 200px;
    padding: 20px;
    width: 90%;
    .modal-area {
      display: flex;
      flex-direction: column;
      text-align: center;
      p {
        margin: 8px;
        font-size: 1.2em;
      }
    }
    .spin-pog-container {
      height: 130px;
      perspective: 1000px;
      width: 130px;
      .spin-pog-win {
        animation: winPogSpinner 15ms linear;
      }
      .spin-pog-lose {
        animation: losePogSpinner 15ms linear;
      }
      .spin-pog {
        position: relative;
        height: 100%;
        transform: rotateY(0);
        transform-style: preserve-3d;
        .spin-pog-face {
          backface-visibility: hidden;
          border: 1px solid #888;
          border-radius: 50%;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
        .spin-pog-front {
          background-size: 130px;
          height: 100%;
          transform: rotateY(0deg);
          width: 100%;
          z-index: 2;
          img {
            width: 100%;
          }
        }
        .spin-pog-back {
          background-size: cover;
          height: 100%;
          transform: rotateY(180deg);
          width: 100%;
          z-index: 1;
        }
      }
    }
  }
}

@keyframes winPogSpinner {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

@keyframes losePogSpinner {
  0% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}

.pog-header-board {
  background: black;
  color: rgb(160, 201, 160);
  height: 150px;
  margin: 0 auto;
  width: 90%;
  .pog-header-top {
    display: flex;
    flex-direction: row;
    font-size: 1.9em;
    padding: 8px;
    .pog-header-top-left {
      text-align: center;
      width: 40%;
    }
    .pog-header-top-right {
      margin: 0 auto;
      padding: 8px;
      width: 50%;
      span {
        margin: 0 12px;
        &.credits-display {
          color: rgb(207, 140, 140);
        }
        &.points-display {
          color: rgb(207, 180, 140);
        }
        &.slammer-display {
          color: rgb(163, 163, 223);
          font-size: 0.8em;
        }
      }
    }
  }
}

.pog-section-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 12px auto;
  width: 90vw;
}

.pog-section {
  background: black;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.2;
  height: 70vh;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  width: 150px;
  h2 {
    font-size: 2.5em;
    position: absolute;
    text-align: start;
    transform: rotate(90deg) translate(7px, -48px);
    transform-origin: top left;
    transition: 0.7s ease-in;
  }
}

.pog-section.active {
  cursor: initial;
  flex: 4;
  h2 {
    transform: rotate(0) translateX(25px) translateY(25px);
  }
}

/* Display Selector */
.display-selector {
  width: 100%;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 75px 5px 15px;
    li {
      border: white 1px solid;
      border-radius: 50px;
      height: 25px;
      width: 25px;
      &:hover {
        box-shadow: 0px 0px 0px 5px #ffffff;
        cursor: pointer;
      }
      &.active,
      &.active:hover {
        box-shadow: 0px 0px 0px 10px #d3d08b;
      }
    }
  }
}

/* Pog Display */
.pog-display-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
  .display-nav-arrow {
    background-color: rgb(44, 44, 105);
    border-radius: 50px;
    color: #ccc;
    cursor: pointer;
    padding: 18px 4px;
    text-align: center;
    vertical-align: middle;
    width: 6%;
    &:hover {
      background-color: #333;
      border: #ccc;
    }
  }
  .panes-container {
    height: 100%;
    position: relative;
    width: 85%;
    .single-pane {
      display: none;
      &.show {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-evenly;
        .pog-area {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 100%;
          margin: 4px;
          width: 20%;
          .pog-title {
            flex: 0.5;
            font-weight: bold;
            min-height: 40px;
            margin: 8px;
          }
          .pog-image-bg {
            display: block;
            flex: 1;
            height: 125px;
            margin: 10px 0;
            width: 125px;
            img {
              display: block;
              width: 100%;
            }
          }
          .pog-details {
            align-self: flex-end;
            background-color: transparent;
            border: #666 3px solid;
            color: #ccc;
            cursor: pointer;
            flex: 1;
            margin-top: 8px;
            min-height: 50px;
            width: 100%;
            &:hover {
              background-color: #ccc;
              color: black;
            }
            &:disabled {
              background-color: #666;
              color: #aaa;
              cursor: initial;
            }
          }
        }
      }
    }
  }
}

/* Pog Store */
.store-pain {
  display: flex;
  flex-direction: column;
}

.store-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  .store-machines {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    .store-dispenser {
      display: flex;
      flex-direction: column;
      width: 20%;
      img {
        width: 100%;
      }
      button {
        font-size: 1.5em;
      }
    }
  }
}

/* Pog Game */
.game-pane {
  display: flex;
  flex-direction: row;
  height: 80%;
  margin-top: 60px;
  .pog-selector {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    overflow: scroll;
    width: 30%;
    .individual-selector {
      display: flex;
      flex-direction: column;
      margin: 6px;
      div {
        display: flex;
        flex-direction: row;
      }
    }
  }
  .game-board {
    position: relative;
    width: 30%;
    .stacked-pog {
      background-image: url('./img/stackedPogs.png');
      left: 37%;
      height: 50px;
      position: absolute;
      width: 100px;
    }
  }
  .game-scene {
    width: 30%;
  }
}

/* Pog Game Meter */
.meter-container {
  height: 100%;
  position: relative;
  .indicator {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid yellow;
    height: 0;
    left: 40%;
    position: absolute;
    width: 0;
    &.moving {
      animation: indicatorMove 1s linear 0s infinite;
    }
  }
  .meter {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    left: 50%;
    position: absolute;
    width: 16px;
    .bonus-area {
      background-color: lime;
      height: 30%;
    }
    .miss-area {
      background-color: crimson;
      height: 10%;
    }
  }
}

@keyframes indicatorMove {
  0% {
    top: -1%;
  }
  50% {
    top: 97%;
  }
  100% {
    top: -1%;
  }
}
