@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

#weather-app {
  background: linear-gradient(
    0deg,
    rgba(227, 138, 66, 1) 0%,
    rgba(54, 29, 69, 1) 69%
  );
  font-family: "Share Tech Mono", monospace;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

#weather-header {
  background-image: linear-gradient(#e38a42, #361d45);
  height: 13%;
  margin-bottom: 2%;
  text-shadow: 2px 2px 2px #000000;
  width: 100%;
}

.head-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  img {
    height: 107%;
  }
}

.title {
  color: #f0c259;
  font-size: 3em;
}

.current-time {
  color: #fff;
  font-size: 2em;
}

#weather-main {
  background: linear-gradient(
    0deg,
    rgba(227, 138, 66, 1) 0%,
    rgba(54, 29, 69, 1) 69%
  );
  height: 70%;
  width: 100%;
}

#main-container {
  background: #303aac;
  box-shadow: 0px 0px 5px 10px #c8aff2;
  height: 100%;
  margin: auto;
  position: relative;
  width: 80%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Slides */
.slide {
  color: #fff;
  font-size: 1.5em;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.showing {
  opacity: 1;
  z-index: 2;
}

h2 {
  text-align: center;
}

.slide-data {
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
  height: 100%;
  text-align: center;
}

.current-conditions img {
  margin: 0 auto;
  width: 30%;
}

.three-day-forecast {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  justify-content: space-around;
}

.three-day-forecast-box {
  height: 80%;
  width: 30%;
}

// Footer
.weather-footer {
  background: #303aac;
  border-top: 3px solid #c8aff2;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 15%;
  margin-top: 15px;
}

.footer-scrolling-text {
  font-size: 4em;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  h4 {
    -moz-animation: scroll-text 35s linear infinite;
    -webkit-animation: scroll-text 35s linear infinite;
    animation: scroll-text 35s linear infinite;
    display: block;
    margin: 5px;
    padding-top: 5px;
    position: absolute;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.main-controlls {
  background: #6b6e91;
  font-size: 1em;
  width: 10%;
}

.zip-input {
  margin-bottom: 5px;
  width: 99%;
}

.toggle-switches {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}

@-moz-keyframes scroll-text {
  0% {
    -moz-transform: translateX(10%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-text {
  0% {
    -webkit-transform: translateX(10%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scroll-text {
  0% {
    -moz-transform: translateX(10%); /* Firefox bug fix */
    -webkit-transform: translateX(10%); /* Firefox bug fix */
    transform: translateX(10%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}
